/* ----------STYLES---------*/
body {
  margin: 0;
  /*Added height calc to remove scrolling*/
  height: calc(100% - 50px); /* minus navbar incl. border */
  font-family: 'Nunito', sans-serif;
}

html{
  height: 100%;
}

.btn{
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #ccc;
}


/* ----------NAVIGATION---------*/
.navbar{
  padding: 0 10px;
  margin: 0px !important;
  color: #2574A9;
}

.navbar-brand{
  font-size: 24px;
  color: #2574A9 !important;
}


/* ----------LAYER PANEL---------*/
.layer-toggle {
    display: none;
}

.layer-panel {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 12px;
  background: #fff;
  opacity: 0.7;
  z-index: 1000;
  color: #2574A9;
  text-transform: uppercase;
  }

.layer-panel-content > h3 {
  text-align: center;
  margin: 0 auto;
  }

.layer-button {
  color: grey;
  border-top: 1px solid #2574A9;
  padding: 6px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

div.toggle-active {
  color: #2574A9;
}

.layer-buttons{
  width: 100%;
  height: 100%;
  position: relative;

}


/* ---------LEAFLET MAP---------*/
.map-holder{
  position: relative;
  background: #fff;
}

#mapid{
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.leaflet-popup-content{
 font-size: 14px;
}

.infoContainer{
  padding:30px;
  width:30%;
  /* height:50px; */
  background: silver;
  position:fixed;
  bottom:0;
  border:1px solid black;
  z-index:1000
}
